.purple {
  color: #3c0080ed;
}

.purple-bg {
  background-color: #3c0080ed;
}

.blue {
  color: #02b1c4;
}

.blue-bg {
  background-color: #02b1c4;
}

.orange {
  color: #c45d02;
}

.orange-bg {
  background-color: #c45d02;
}

.white {
  color: white;
}

.white-bg {
  background-color: white;
}

footer {
  background-color: #3c0080ed;
  color: #fff;
  padding: 20px;
  text-align: center;
}

#navDemo {
  background-color: white;
  color: #02b1c4;
  padding: 20px;
  text-align: center;
}

img {
  margin: 20px;
}

.form-input {
  border: none;
  border-bottom: 2px solid #02b1c4;
  margin: 10px 0;
  padding: 5px;
  width: 100%;
  font-size: 1rem;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: white
}

.form-button {
  background-color: #c45d02;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.discord-button {
  background-color: #7289DA;
  border: none;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  color: white;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.rules-button {
  background-color: #5bc561;
  border: none;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  color: white;
  padding: 10px 20px;
  margin: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.form-button:hover {
  background-color: #3c0080ed;
}